{% extends 'base.html.twig' %}

{% block body %}
    <a class="back" href="{{path ('about')}}">Back</a>
    <div id= "description">
        <img style="width:300px; margin-top:3px;" class="team-profile" src="../img/bahaa.jpg" alt="photo of bahaa"><br> 
        <h3> Bahaa Al Mahamid </h3><br>
        <h3><a href="https://www.linkedin.com/in/bahaa-almahamid/", target="_blank"<i class="fab fa-linkedin"></i>  LinkedIn</a></h3><br>
        <h4>Hi , I'm Bahaa and I like coding</h4> 
    </div>
    
{% endblock %}
