{% extends 'base.html.twig' %}

{% block body %}
    <a class="back" href="{{path ('about')}}">Back</a>
    <div id= "description">
        <img style="width:300px; margin-top:3px;" class="team-profile" src="../img/bahaa.jpg" alt="photo of bahaa"><br> 
        <h3> Bahaa Al Mahamid </h3><br>
        <h3><a href="https://www.linkedin.com/in/bahaa-almahamid/", target="_blank"<i class="fab fa-linkedin"></i>  LinkedIn</a></h3><br>
        <h4> Many religions use images to "represent" God in icons for art or for worship. Here are examples of representations of God in different monotheistic religions. Clockwise from upper left: Christianity, Kaumaram, Vaishnavism, Shaktism
        The monad, an ancient symbol for the metaphysical Absolute. Early science, particularly geometry and astrology and astronomy, was connected to the divine for most medieval scholars, and many believed that there was something intrinsically "divine" or "perfect" that could be found in circles.[1][2]
        Part of a series on
        God
        General conceptions[show]
        Specific conceptions[show]
        In particular religions[show]
        Attributes[show]
        ExperiencesPractices
        [show]
        Related topics[show]
        vte
        In monotheistic thought, God is conceived of as the Supreme Being and the principal object of faith.[3] The concept of God, as described by theologians, commonly includes the attributes of omniscience (all-knowing), omnipotence (unlimited power), omnipresence (present everywhere), and as having an eternal and necessary existence. Depending on one’s kind of theism, these attributes are used either in way of analogy, or in a literal sense as distinct properties. God is most often held to be incorporeal (immaterial).[3][4][5] Incorporeality and corporeality of God are related to conceptions of transcendence (being outside nature) and immanence (being in nature) of God, with positions of synthesis such as the "immanent transcendence".
        Some religions describe God without reference to gender, while others and their translations use masculine terminology, using such terms as "Him" or "Father," and some religions (such as Judaism) attribute only a purely grammatical "gender" to God.[6] </h4> 
    </div>
    
{% endblock %}
