{% extends 'base.html.twig' %}

{% block body %}

    <div id= "description">
            <img style="width:300px; margin-top:3px;" class="team-profile" src="../img/ibrahim.jpg" alt="photo of ibrahim"><br> 
            <h3> Ibrahem Ayyed </h3><br>
            <h3><a href="https://www.linkedin.com/in/ibrahemayyed/", target="_blank"<i class="fab fa-linkedin"></i>  LinkedIn</a></h3><br>
            <h4> Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, dignissimos architecto? Neque consequatur nemo dolore, </h4><br>
            <h4> eaque necessitatibus nobis eum ipsum earum inventore ea nesciunt cumque libero unde reiciendis veritatis iusto </h4> 
    </div>
    
{% endblock %}
