{% extends 'base.html.twig' %}

{% block body %}
    <a class="back" href="{{path ('about')}}">Back</a>
    <div id= "description">
        <img style="width:300px; margin-top:3px;" class="team-profile" src="../img/ibrahim.jpg" alt="photo of ibrahim"><br> 
        <h3> Ibrahem Ayyed </h3><br>
        <h3><a href="https://www.linkedin.com/in/ibrahemayyed/", target="_blank"<i class="fab fa-linkedin"></i>  LinkedIn</a></h3><br>
        <h4> Selam aleykum, I'm Ibrahem. </h4>
        <h4> I graduated from Laser and Opto-electronics engineering in 2014. Aside from physics, maths and science, during studies I got interested into coding and learned java. When I came to Luxembourg from Iraq 3 years ago I started working more on my coding skills and now I'm here.</h4>
        <h3>Things that I like are:</h3>
        <h4><ul style="list-style-type:none">
            <li>-> Football</li>
            <li>-> Playing cards</li>
            <li>-> Coding</li>
            <li>-> Dominos</li>
            <li>-> Watching movies and TV series</li>
        </ul></h4>
    </div>
    
{% endblock %}
