{% extends 'base.html.twig' %}

{% block body %}
    <a class="back" href="{{path ('about')}}">Back</a>
    <div id= "description">
        <img style="width:300px; margin-top:3px;" class="team-profile" src="../img/joao.jpg" alt="photo of joao"><br> 
        <h3> João Nuno Onofre </h3><br>
        <h3><a href="https://www.linkedin.com/in/joao-onofre/", target="_blank"<i class="fab fa-linkedin"></i>  LinkedIn</a></h3><br>
        <h4> Hi everyone!</h4><br>
        <h4> My name is João Nuno Onofre, I'm Portuguese and I'm a fresh Web Developer. I can say that I am a responsible and a hard-working student.
        I'm a sociable person. I enjoy travelling since it allows me to get to know new, interesting people, cultures from different countries. Aside from that, I like to spend my free time researching technologies and IT stuff. 
        I think that my enthusiasm is a strong point of mine.</h4>
        <h3> Things that I like are: </h3>
        <h4><ul style="list-style-type:none">
            <li>-> Downhill</li>
            <li>-> Karting</li>
            <li>-> Gaming</li>
        </ul></h4>
    
{% endblock %}
