{% extends 'base.html.twig' %}

{% block body %}

    <div id= "description">
            <img style="width:300px; margin-top:3px;" class="team-profile" src="../img/tamara.jpg" alt="photo of tamara"><br> 
            <h3> Tamara Pupac <i class="fas fa-music"></i> <i class="fas fa-camera"></i> <i class="fas fa-palette"></i> </h3><br>
            <h3><a href="https://www.linkedin.com/in/tamara-pupac-771065165/",  target="_blank"<i class="fab fa-linkedin"></i>  LinkedIn</a></h3><br>
            <h4> Hi everyone!</h4><br>
            <h4> I'm a simple girl who loves music, photography, martial arts and aesthetically pleasing things. <br> 
                My love for photography brought me to a world of graphic design, which then lead to coding. When I have some free time I like to relax while watching a movie, TV show, read something interesting, or just surf the internet looking for interesting facts about this amazing world that we live in. </h4>
            <h3> Fun facts about me </h3>
            <h4><ul style="list-style-type:none">
                <li>-> I'm always wearing headphones.</li>
                <li>-> I'm driving my colleagues insane with constant tapping with fingers on the tables in the rhythm of the song that's playing in my head</li>
                <li>-> Sometimes I see things that no one else can see, and sometimes I can't see things that everyone else sees.</li>
                <li>-> I have a cat and a bunny.</li>
                <li>-> I've been training martial arts since February 2003.</li>
            </ul></h4>
    </div>
    
{% endblock %}
