{% extends 'base.html.twig' %}

{% block body %}
	<div class="bgcpicture"></div>

	<div class="margin_left">
		<a href="{{ path('profile') }}">My profile</a>
		<a href="{{ path('chat') }}">Messages</a>
	</div>

	<div class="margin_right"></div>
{% endblock %}