

{% extends 'base.html.twig' %}
{% block title %}upSTART.lu{% endblock %}
{% block body %}
{% if messages is empty %}
    		<p>No messages found in the application</p>
    	{% else %}
            <table class="table table-striped">
            	<thead>
            		<tr>
            			<th>message</th>           			
            		</tr>
            	</thead>
            	<tbody>
            		{% for message in messages %}
            			<tr>          				
            				<td>{{ message.getContent() }}</td>           				
            			</tr>
            		{% endfor %}
            	</tbody>
            </table>
    	{% endif %}
	
{{ form_start(chatForm) }}
	{{ form_row(chatForm.content) }}
	<button type="submit" class="login-form-submit" >Register</button>
{{ form_end(chatForm) }}

{% endblock %}