{% extends 'base.html.twig' %}

{% block body %}

<a class="back" href="{{path ('post')}}">Back</a>
<div class="contact">

    <h3>Contact us:</h3>
    <p>Ibrahem: 00352691516857
    WhatsApp</p>
</div>
    
{% endblock %}

