
    <header>
        <h1 id="logo-us">uS</h1>
        <div id="search-input-container">
            <i class="fas fa-search"></i> <input type="search" id="search-input" placeholder="Search">
        </div>

    </header>
   